.mainbox {
    border-radius: 4px;
    border-top-left-radius : 0px;
    margin-top:0px;
    border:1px solid #808080;
    border-top:0px; 
    margin-top:-5px;
    padding:30px;
    text-align:center;
}
.box {
    border-radius: 4px;
    margin-top:0px;
    border:1px solid #808080;
    padding:30px;
    text-align:center;
}
.alignLeft {
    text-align:left;
}
.alignRight {
    text-align:right;
}
.divMargin10px {
    margin:10px;
}
.divMarginRight10px {
    margin-right :10px;
}
.divMarginLeft10px {
    margin-left:10px;
}
.divMarginTop10px {
    margin-top:10px;
}
.divMarginBottom10px {
    margin-bottom:10px;
}